extends layout

block content
  h2 프리랜서
  table
    thead
      tr
        th ID
        th 경력
        th 평점
    tbody
      for freelancer in freelancers
        tr
          td
            a(href='/profile/'+freelancer.id)= freelancer.id
          td= freelancer.career
          td= freelancer.rating
  h2 팀
  table
    thead
      tr
        th 팀이름
        th 팀경력
        th 팀평점
    tbody
      for team in teams
        tr
          td= team.tname
            a(href=`/team/profile/${team.tname}`)= team.tname
          td= team.career
          td= team.rating