extends layout

block content
  h2 진행중인 의뢰 목록

  if submitError
    .error-message= submitError
  
  #submit-form

  table
    tr
      th 의뢰 번호
      th 의뢰자 ID
      th 의뢰 제목
      th 개발 시작날짜
      th 의뢰 금액
      th 완료 신청
    for request in requests
      tr
        td
          a(href=`/request/${request.rqid}`)= request.rqid
        td= request.cid
        td= request.rname
        td= format(request.dev_start)
        td= request.reward
        td
          button.submit-btn(data-rqid=request.rqid) 신청

block script
  script.
    document.querySelectorAll('.submit-btn').forEach(btn => { addEventListener('click', function(e) {
      if(document.querySelector('#submit-group') || e.target != btn)
        return;
      var submitForm = document.createElement('form');
      var submitGroup = document.createElement('div');
      var rqidInput = document.createElement('input');
      var rfileInput = document.createElement('input');
      var submitBtn = document.createElement('button');
      document.querySelector('#submit-form').innerText = e.target.dataset.rqid + '번 완료신청 결과보고서';

      submitForm.action = '/freelancer/report/submit';
      submitForm.method = 'post';
      
      submitGroup.class = 'input-group';
      submitGroup.id = 'submit-group';
      
      rqidInput.type = 'hidden';
      rqidInput.name = 'rqid';
      rqidInput.value = e.target.dataset.rqid;
      submitGroup.appendChild(rqidInput);

      rfileInput.name = 'rfile';
      rfileInput.placeholder = '결과 보고서 제목을 입력하세요';
      submitGroup.appendChild(rfileInput);

      submitBtn.class = 'btn';
      submitBtn.type = 'submit';
      submitBtn.textContent = '제출';
      submitGroup.appendChild(submitBtn);
      submitForm.appendChild(submitGroup);
      document.querySelector('#submit-form').appendChild(submitForm);
    })});