extends layout

block content
  h2 그는 아직도 기다리고 있다...
  table
    thead
      tr
        th 의뢰 ID
        th 의뢰 이름
        th 보고서 이름
        th 의뢰자가 준 평점
        th 프리랜서가 준 평점
    tbody
      for accept in acceptances
        tr
          td= accept.rqid
          td= accept.rname
          td= accept.rfile
          td= accept.j_rating
          td
            form(action=`/freelancer/accepted` method='post')
                input#rating(type='number' name='rating' min=0 max=5 placeholder='0~5' required)
                input(type='hidden' name='rid' value=accept.arid)
                button.btn(type='submit') 확인
