extends layout

block content
  if !joinType
    h2= 'Select Join Type'
    .jointype
      form#join_type(action='/join' method='post')
        .input-group
          label(for='joinType') 가입 유형
          select(name='joinType' id='joinType' required)
            option(value='freelancer') 프리랜서
            option(value='client') 의뢰자
        button#join.btn(type='submit') 가입
        if joinError
          .error-message= joinError


  else if joinType=='freelancer'
    h2= 'Freelancer Join'
    form#join-form(action='/auth/join/freelancer' method='post')
      .input-group
        label(for='id') ID
        input#id(name='id' required autofocus)
      .input-group
        label(for='pw') 비밀번호
        input#pw(type='password' name='pw' required)
      .input-group
        label(for='name') 이름
        input#pw(name='name' required)
      .input-group
        label(for='phone_num') 휴대폰 번호
        input#pw(name='phone_num' required)
      .input-group
        label(for='age') 나이
        input#pw(name='age' required)
      .input-group
        label(for='major') 전공
        input#pw(name='major' required)  
      .input-group
        label(for='career') 경력
        input#pw(name='career' required)
      h3 프로그래밍 언어별 능숙도
      for lang in langs
        .input-group
          label(for=lang.lang_name)= lang.lang_name 
          input(type='number' min='0' max='5' id=lang.lang_name name=lang.lang_name value=0 required)
      button#join.btn(type='submit') 가입
      if joinError
        .error-message= joinError
    
  else if joinType=='client'
    h2= 'Client Join'
    form#join-form(action='/auth/join/client' method='post')
      .input-group
        label(for='id') ID
        input#id(name='id' required autofocus)
      .input-group
        label(for='pw') 비밀번호
        input#pw(type='password' name='pw' required)
      .input-group
        label(for='name') 이름
        input#pw(name='name' required)
      .input-group
        label(for='phone_num') 휴대폰 번호
        input#pw(name='phone_num' required)
      button#join.btn(type='submit') 가입
        if joinError
          .error-message= joinError