doctype
html
  -
    function format(datetime) {
      if(datetime) {
        const y = datetime.getFullYear();
        const m = datetime.getMonth()+1;
        const d = datetime.getDate();
        var ret = String(y);
        ret = m<10 ? ret+'-0'+m : ret+'-'+m;
        ret = d<10 ? ret+'-0'+d : ret+'-'+d;
        return ret;
      }
    }
  head
    meta(charset='UTF-8')
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='/stylesheets/main.css')
  body
    header
      a#index(href='/') Coding Mon
    .menu
      if user
        if user.type == 'admin'
          a#user.btn(href='/admin/user') 사용자 관리
          a#request.btn(href='/admin/request') 의뢰 관리
          a#team.btn(href='/admin/team') 팀 관리
          a#report.btn(href='/admin/report') 의뢰완료신청 관리
          a#lang.btn(href='/admin/lang') 언어 관리

        else if user.type == 'freelancer'
          a.btn(href='/freelancer/profile') 프로필
          a.btn(href='/freelancer/request') 전체 의뢰
          a.btn(href='/freelancer/waiting') 신청한 의뢰
          a.btn(href='/freelancer/working') 진행중인 의뢰
          a.btn(href='/team/list') 나의 팀 목록
          a.btn(href='/team/create') 팀 생성

        else if user.type == 'client'
          a.btn(href='/client/profile') 프로필
          a.btn(href='/client/request') 나의 의뢰
          a.btn(href='/client/report') 완료요청 확인
          a.btn(href='/client/register') 의뢰 등록
    .container
      .profile
        if user && user.id
          .user-name= '안녕하세요 ' + user.id + ' 님'
            input#my-id(type='hidden' value=user.id)
            a#logout.btn(href='/auth/logout') 로그아웃
        else
          form#login-form(action='/auth/login' method='post')
            .input-group
              label(for='id') ID
              input#id(name='id' required autofocus)
            .input-group
              label(for='pw') PW
              input#pw(type='password' name='pw' required)
            if loginError
              .error-message= loginError
            button#login.btn(type='submit') Login
            a#join.btn(href='/join') Join
      
      block content
    
    footer
      | Made by DBDBDIP

    block script