extends layout

block content
  h2 팀이 신청한 의뢰 목록

  table
    tr
      th 의뢰 번호
      th 의뢰자 ID
      th 의뢰 제목
      th 의뢰 시작날짜
      th 의뢰 금액
      th 수락 상태
    for request in requests
      tr
        td
          a(href=`/request/${request.rqid}`)= request.rqid
        td
          a(href=`/profile/${request.cid}`)= request.cid
        td= request.rname
        td= format(request.start_date)
        td= request.reward
        td= request.status
