extends layout

block content
  -
    const index = {
      'rqid': '의뢰번호',
      'reward': '의뢰금액',
      'start_date': '의뢰시작날짜'
    };
  .align
    form(action=`/team/${tname}/request` method='get')
      select(name='orderType')
        each label, key in index
          if key == orderType
            option(value=key selected)= label
          else
            option(value=key)= label
      button.btn(type='submit') 정렬
  table
    thead
      tr
        th 의뢰 번호
        th 의뢰자 ID
        th 의뢰 제목
        th 의뢰 금액
        th 의뢰 시작날짜
        th 의뢰 종료날짜
        th 최소 인원
        th 최대 인원
        th 최소 경력
        th 신청하기
    tbody
      for request in requests
        tr
          td
            a(href=`/request/${request.rqid}`)= request.rqid
          td
            a(href=`/profile/${request.cid}`)= request.cid
          td= request.rname
          td= request.reward
          td= format(request.start_date)
          td= format(request.end_date)
          td= request.min_people
          td= request.max_people
          td= request.min_career
          td
            form(action=`/team/${tname}/apply` method='post')
              input(type='hidden' name='rqid' value=request.rqid)
              button.btn(type='submit') 신청
  if applyError
    .error-message= applyError  